                                                     WHY DO WE NEED FUNCTIONS?

Scenario: 

When we have complex project , we will be breaking it into smaller one ryt?

If you have many operations like e.g : If there is a payment operation you want to do that perticular operation will have many statements in it and you want to use same set of operations again and again
you can all the function at any time.

In [3]:
def greet():
    print("Hello")
    print("Good Morning")
#explicitly need to call
greet()

Hello
Good Morning

In [5]:
#if I want to add tow numbers
def add(x,y):
    c = x+y
    print("Addition of two numbers are:\n",c)
greet() # we can call any time 
add(5,4)

Hello
Good Morning
Addition of two numbers are:
 9

Scenario when to use return function:

I am telling my friend , Hey Divya, please tell Anu to come to movie -> in return I am not expecting anything ryt?
But, I am telling my friend like this, Hey divya, could you pls ask Anu whether she's coming to movie or not and let me als know? --? I am expecting something here

here comes the concept of return statement in function

In [16]:
def add(x,y):
    c=x+y
    return c # when I am using return statement, it is going to return result in result variable, it won't display result to me
result = add(5,4)
print(result)# After using print stament only I can see the result

9

In [17]:
def add_sub(x,y):
    c=x+y
    d=x+y
    return c,d

result1,result2 = add_sub(5,4)
print(result1,result2)

9 9

                                                    FUNCTION ARGUMENTS

--Function arguments, How to pass?

--Types of Arguments

In [24]:
def update(x): ##pass by value : passing value to print here
    x = 8
    print("x= ",x)
a=10
update(a)#pass by reference : passing address of 'a'
print("a= ",a)

x=  8
a=  10

We have a concept calle 

--pass by value

--pass by reference

In [28]:
def update(x): ##pass by value : passing value to print here
    print(id(x))
    x = 8
    print(id(x))
    print("x= ",x)
a=10
print(id(a))
update(a)#pass by reference : passing address of 'a'
print("a= ",a)

140709974833880
140709974833880
140709974833816
x=  8
a=  10


When you call a function by passing value, their address are same; moment you changed the value it'll change the address

In python what we use pass by value or pass by reference?
None of them

In [31]:
def update(x):
    print(id(x))
    x = 8
    print(id(x))
    print("x= ",x)

list = [10,20,30]
print(id(list))
update(list)
print("a= ",list)

2887723904256
2887723904256
140709974833816
x=  8
a=  [10, 20, 30]

In [34]:
#after changing list value
def update(list):
    print(id(list))
    list[1] = 25
    print(id(list))
    print("x= ",list)

list = [10,20,30]
print(id(list))
update(list)
print("list= ",list)

2887724278784
2887724278784
2887724278784
x=  [10, 25, 30]
list=  [10, 25, 30]

                                                 TYPES OF FUNCTION ARGUMENTS

In [1]:
def add(a,b): #Forml arguments : define variable
    c=a+b
    print(c)

add(5,6) #Actual Arguments : passing value

11

Types of Actual Arguments :
<br>1. Position
<br>2. Keyword
<br>3. Default
<br>4. Variable Length

 add(a,b) --> add(5,6) : positioned

In [3]:
def person(name,age):
    print(name)
    print(age)

person('Chithra',24)
#how the Chaithra going and sit into name parameter and 24 go and sit in age parameter -> called Position Arguments

Chithra
24

In [4]:
#What if I dont know the sequence
#If I have reurn function body sme where else, but I am not sure about the sequence
def person(name,age):
    print(name)
    print(age)

person(age=24,name='Chithra')#keyword arguments

Chithra
24

In [5]:
#If I didn't pass the value for variables, by default it should tae some value
def person(name,age=18):
    print(name)
    print(age)

person('Chithra')#default

Chithra
18

In [7]:
#What if I specify the value and used default value as well, what it will take
def person(name,age=18):
    print(name)
    print(age)

person('Chithra',28)
#It overrides the value as 28 not 18

Chithra
28

In [9]:
#variable Length
def sum(a,*b): # 'b' will tale multiple values, 'a' value is confirmed
    c = a+b
    print(c)

sum(5,6,34,78)
#error: you can't add int and tuple

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [10]:
#How to solve above error, let me check what is happening here
def sum(a,*b):
    print(a)
    print(b)

sum(5,6,34,78)

5
(6, 34, 78)

 If we see above output 5 is integer and (6,34,78) are tuple

In [11]:
#How to add now?
def sum(a,*b):
    c = a
    for i in b:
        c = c + i

    print(c)

sum(5,6,34,78)

123

In [13]:
def sum(*b):
    c = 0 #In this case we simply make c=0
    for i in b:
        c = c + i

    print(c)

sum(5,6,34,78)

123

In [15]:
#keyworded variable length arguments
def person(name, *data):
    print(name)
    print(data)

person('Chaithra',age=24,city='Kundapur',mob=9786543201)#keyword like age=24 etc

TypeError: person() got an unexpected keyword argument 'age'

In [20]:
#how to solve above error: by giving two **
def person(name,**data):
    print(name)
    for i,J in data.items():
        print(i,J)

person('Chaithra',age=24,city='Kundapur',mob=9786543201)

Chaithra
age 24
city Kundapur
mob 9786543201

                                          GLOBL KEYWORD IN FUNCTION

In [2]:
a = 10 #Global variable

def something():
    a=15
    print("inside function : ",a)#Local variable 

something()
print("Outside function :",a)

inside function :  15
Outside function : 10

In [3]:
#What if I don't have variable inside function
a = 10 #Global variable

def something():
    
    print("inside function : ",a)

something()
print("Outside function :",a)

inside function :  10
Outside function : 10

In [4]:
#If I ant to use global variabl inside function, I need to use keyword global
a = 10

def something():
    global a
    a = 15
    print("Inside function:", a)

something()
print("outside function: ", a)

Inside function: 15
outside function:  15

In [5]:
#can we have same variable as global variable and local variable inside function, let's try it out
a = 10

def something():
    global a
    a = 15
    print("Inside function:", a)

    a = 9

something()
print("outside function: ", a)

Inside function: 15
outside function:  9

No we can't use same variable as local and global variable inside same function, Then how to achieve it?

For that we can use "globals()"

In [7]:
a = 10
print(id(a))
def something():
    a = 9
    x = globals()['a']
    print(id(x))
    print("Inside function:",a)

    globals()['a']='15'

something()
print("Outside functions:",a)

140707085155032
140707085155032
Inside function: 9
Outside functions: 15

                                          PASS LIST TO FUNCTIONS

In [10]:
# If there is a list of elements, pass that list in a function, that function will return you the number of even and odd numbers 
def count(list):
    even = 0
    odd = 0
    for i in list:
        if i%2==0:
            even = even+1
        else:
            odd = odd+1
    return even, odd


list = [20,25,14,19,16,24,28,47,26]
even, odd = count(list)
print("Even : {} and odd {}".format(even,odd))

Even : 6 and odd 3